{"is_source_file": true, "file_id": 29, "git_revision": "59f40f21b8e9d2dd91c903391b416427875b4d20", "state": 1, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "hash": "6777dbec96c1fc6743bea4f3cc7c251a", "format-version": 4, "code-base-name": "default", "filename": "ticketing_backend_workspace/ticketing_backend/requirements.txt", "knowledge_revision": 78}