{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 29, "knowledge_revision": 79, "git_revision": "928451360502ab53f15dc77aba322da1261be748", "hash": "6777dbec96c1fc6743bea4f3cc7c251a", "format-version": 4, "code-base-name": "default", "filename": "ticketing_backend_workspace/ticketing_backend/requirements.txt", "revision_history": [{"79": "928451360502ab53f15dc77aba322da1261be748"}]}